@import url('https://fonts.googleapis.com/css?family=Raleway|Nunito+Sans');
@import url('./font-awesome/css/font-awesome.min.css');
/* Page styles */

body {
  font-family: 'Nunito+Sans', sans-serif;
  font-size: 16px;
  min-width: 300px;
}

.header {
  height: 50px;
  min-width: 280px;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header h2 {
  font-size: .8em;
}

h3 {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: left;
}

.header, .footer {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #1c312f;
  padding: 10px;
  color: #fff;
}

a {
  transition: color 250ms;
}

a:link,
a:visited {
  color: #aaa;
  text-decoration: none;
}

.about-section a:link,
.about-section a:visited {
  color:#fff;
  text-decoration: none;
}

.about-section a:hover {
  color: #000;
}

a:hover {
  color: #fff;  
}

.about-section {
  /*max-width: 750px;*/
  margin: 20px auto 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #d7d7d7;
}

.about-section p {
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 20px;
}

.about-section h3 {
  max-width: 700px;
  margin: 0 auto;

}

.list-container {
  max-width: 700px;
  margin: 0 auto;
}

.user-story-list {
  margin: 0 auto;
}

li {
  text-align: left;
  margin-bottom: 5px;
}

.footer p {
  font-size: .8em;
}

.tagline {
  margin-bottom: 10px;
}

code {
  display: inline-block;
  font-size: .8em;
  margin-bottom: 10px;
  
}

/* For smaller screens */
@media (max-width: 380px) {
  h1 {
    font-size: 1em;
  }
  .header {
    /*height: 70px;*/
  }
  .about-section {
    font-size: .75em;
  }
  .about-section a:hover {
    color: #fff;
  }
  .header a:hover,
  .footer a:hover {
    color: #aaa;
  }
}